# Logs & Debug Files
*.log
*.out
*.err

# Temporary Files & Caches
*.swp
*.swo
*.tmp
*.bak
*.lock
*.cache
.DS_Store
Thumbs.db

# System & Package Manager Files
/venv/                  # Virtual environment for Python
/__pycache__/           # Python cache files
*.pyc                   # Compiled Python files
*.pyo                   # Optimized Python files
*.egg-info/             # Python package metadata
pip-log.txt             # Pip logs

# Virtual Machines & Containers 
/.vagrant/
/*.qcow2
/*.vdi
/*.vmdk
/*.iso
/*.img

# Editor-Specific Files
.vscode/
.idea/
*.sublime-workspace
/.ipynb_checkpoints/

# Executables & Compiled Files
*.exe
*.dll
*.so
*.o
*.a
*.out

# Prism-Specific Stuff
prism.log  
prism-test/ 
chroot/ 

# Python Dependencies
requirements.txt  
*.env             
.envrc            

